.container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.container-pagination {
    width: 1000px;
    height: 502px;
    border-radius: 30px;

    background-color: #1b1b1b;
}
.container-cards {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 502px;
    width: 900px;
    padding: 0;
    gap: 20px;
}

.botonPrevNext {
    display: flex;
    margin-inline: auto;
    align-items: flex-end;
    justify-content: center;
    border-radius: 4px;
    /* margin-top: 10px; */
    height: 30px;
    width: 30px;

    background-color: #ffffff;
    color: #000000;

    cursor: pointer;
}
