/* body {
    margin: 0;
    padding: 0;
} */

.nickname {
    font-size: 13px;
    font-weight: 700;
}
.email {
    font-size: 9px;
}

.fotito {
    margin-top: -10px;
    width: 30px;
    border-radius: 50%;
}
.contenedor {
    display: flex;

    align-items: center;
}
