.container-card {
    background-color: #ffffff;
    border-radius: 5px;
    width: 320px;
    height: 370px;

    box-shadow: 22px 19px 34px -15px rgba(0, 0, 0, 0.459);
    transition: 1s;
    transition: transform 0.5s ease-out;
}

.imagen {
    height: 250px;
    width: 320px;
    /* border-radius: 5px; */
    object-fit: cover;
    object-position: left;
}

.container-card:hover {
    transform: scale(1.06);
}
.title-font {
    font-weight: 400;
}

.arhe {
    background-color: rgb(115, 43, 129);
}
