.container-card {
    background-color: #ffffff;

    border-radius: 20px;
    width: 170px;
    height: 220px;

    /* box-shadow: 22px 19px 34px -15px rgba(0, 0, 0, 0.459); */
    -webkit-box-shadow: 6px 4px 0px 0px rgba(171, 196, 194, 1);
    -moz-box-shadow: 6px 4px 0px 0px rgba(171, 196, 194, 1);
    box-shadow: 6px 4px 0px 0px rgba(171, 196, 194, 1);
}

.imagen {
    height: 120px;
    width: 170px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;

    /* border-radius: 5px; */
    /* object-fit: cover; */
    object-position: left;
}
.buttonclass {
    color: white;
    background: rgb(10, 9, 9);
    background: linear-gradient(
        180deg,
        rgba(10, 9, 9, 1) 51%,
        rgba(172, 86, 39, 1) 87%
    );
}

.title-font {
    font-weight: 400;
}

.arhe {
    background-color: rgb(115, 43, 129);
}
