body {
    background-color: #ebebeb;
}

.container-cards {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 25px;
    margin-top: 4px;
    margin-left: 65px;
}
