body {
    background-image: url("../../Imagenes/5.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.container-inicial {
    display: inline-grid;
    height: 100vh;
    width: 100%;
    /* background-color: #e3e3e3; */
}
.centrado {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-navbar {
    background-color: #ffffff;

    border-top-left-radius: 50px;
    height: 90vh;
    border-bottom-left-radius: 50px;
    width: 170px;
}

.container-2 {
    align-items: center;

    border-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;

    background-color: rgb(2, 2, 2);
    height: 90vh;
    width: 80%;
}

.container-carteles {
    gap: 50px;
}
/* .container-pagination {
    width: 1000px;
    height: 502px;
} */
.container-laterales {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.lateral {
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;

    background-image: url("../../Imagenes/66.jpg");
    background-size: cover;
    background-position-x: 0;
    background-position-y: -20px;

    color: #ffffff;
    border: 1px solid #161515;
    background-color: #1b1b1b;
    height: 150px;
    width: 400px;
    border-radius: 20px;
    /* margin-bottom: -20px; */
    font-size: 22px;
    font-weight: 900;
    -webkit-text-stroke: 1px #ffffff63;
    color: rgba(0, 0, 0, 0.315);
    transition: 0.7s;
}
.lateral:hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("../../Imagenes/66.jpg");

    transition: 0.7s;

    -webkit-text-stroke: 2px #6d5442;

    color: rgb(255, 255, 255);
}
.lateral1 {
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;

    background-image: url("../../Imagenes/44.jpg");
    background-size: cover;
    background-position-x: 0;
    background-position-y: -230px;

    color: #ffffff;
    border: 1px solid #161515;
    background-color: #1b1b1b;
    height: 150px;
    width: 400px;
    border-radius: 20px;
    font-size: 22px;
    font-weight: 900;
    -webkit-text-stroke: 1px #ffffff63;
    color: rgba(0, 0, 0, 0.315);
    transition: 0.3s;
}
.lateral1:hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("../../Imagenes/44.jpg");

    transition: 0.3s;

    -webkit-text-stroke: 2px #3f4f59;

    color: rgb(255, 255, 255);
}
.lateral2 {
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    background-image: url("../../Imagenes/88.jpg");
    background-size: cover;
    background-position: 0px;

    color: #ffffff;
    border: 1px solid #161515;
    background-color: #1b1b1b;
    height: 150px;
    width: 400px;
    border-radius: 20px;
    font-size: 22px;
    font-weight: 900;
    -webkit-text-stroke: 1px #ffffff63;
    color: rgba(0, 0, 0, 0.315);
    transition: 0.7s;
}
.lateral2:hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("../../Imagenes/88.jpg");

    transition: 0.3s;

    -webkit-text-stroke: 2px #585457;

    color: rgb(255, 255, 255);
}
.lateral3 {
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;

    background-image: url("../../Imagenes/77.jpg");
    background-size: cover;
    background-position: 0px;

    color: #ffffff;
    border: 1px solid #161515;
    background-color: #1b1b1b;
    height: 150px;
    width: 400px;
    border-radius: 20px;
    font-size: 22px;
    font-weight: 900;
    -webkit-text-stroke: 1px #ffffff63;
    color: rgba(0, 0, 0, 0.315);
    transition: 0.7s;
}
.lateral3:hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("../../Imagenes/77.jpg");

    transition: 0.3s;

    -webkit-text-stroke: 1.3px #391a18;

    color: rgb(255, 255, 255);
}
.cartel {
    border-radius: 25px;
    height: 180px;
    width: 250px;
    border: 1px solid #7f9e8c;
    background-color: #7f9e8c;
    color: #688cc2;
    -webkit-box-shadow: 6px 4px 0px 0px #556e60;
    -moz-box-shadow: 6px 4px 0px 0px #556e60;
    box-shadow: 6px 4px 0px 0px #556e60;
}
.cartel-2 {
    border-radius: 25px;
    height: 180px;

    width: 250px;
    border: 1px solid #dd924f;
    background-color: #dd924f;
    color: #688cc2;
    -webkit-box-shadow: 6px 4px 0px 0px #925826;
    -moz-box-shadow: 6px 4px 0px 0px #925826;
    box-shadow: 6px 4px 0px 0px #925826;
}

.cartel-3 {
    border-radius: 25px;
    height: 180px;

    width: 250px;
    border: 1px solid #b4a193;
    background-color: #b4a193;
    color: #688cc2;
    -webkit-box-shadow: 6px 4px 0px 0px #796b61;
    -moz-box-shadow: 6px 4px 0px 0px #796b61;
    box-shadow: 6px 4px 0px 0px #796b61;
}

.navBarInterna {
    margin-top: 17px;
}
.contenidoPrincipal {
    margin-top: 40px;
}
.buscador {
    background-color: #161515;
    border-color: #161515;
    height: 40px;
    width: 500px;
    color: white;
}
.Titulo {
    color: white;
    font-size: 30px;
    font-weight: 600;
    margin-left: 20px;
}

.conteiner-central {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}
